@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contrast_text {
    color: $text_color;
}

.contrast_text2 {
    color: $text_color2;
}

.cursor-pointer{
    cursor: pointer
}

ul, li {list-style-type: none;}
ul, li {text-indent: -2em;}

.none {
    display: none;
  }

input:focus {
    outline: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: gray transparent gray transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}